
body{
    margin:0;
    font-family: Arial;
    background:#0f172a;
    color:white;
}

/* HEADER */
.header{
    background:#020617;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

.nav a:hover{
    color:#38bdf8;
}

/* SECCIONES */
.section{
    padding:30px;
    text-align:center;
}

.section p{
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

.section img{
    width:250px;
    border-radius:10px;
}

/* GALERIA */
.galeria{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.galeria img{
    width:200px;
    border-radius:10px;
    transition:0.3s;
}

.galeria img:hover{
    transform:scale(1.05);
}

/* FOOTER */
.footer{
    background:#020617;
    padding:10px;
    text-align:center;
}
